
<div class="container" id="form_container">
  <fieldset>
  <legend>Log In</legend>

  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, icon: "envelope" %>
    <%= f.password_field :password, autocomplete: "off", icon: "option-horizontal" %>
    <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
    <% end -%>
    <%= f.submit "Log in" %>
  <% end %>
  <br />


  <%= render "users/shared/links" %>
  </fieldset>
</div>
