<div class="container" id="form_container">
  <fieldset>
  <legend>Pet's details</legend>

  <%= bootstrap_form_for(pet) do |f| %>
    <% if pet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>
        <ul>
        <% pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.text_field :name %>
      <%= f.text_field :types %>
      <%= f.text_field :breed %>
      <%= f.number_field :age %>
      <%= f.select :gender, ["Male", "Female"], { class: "selectpicker" } %>
      <%= f.text_area :description %>
      <%= f.file_field :photos, multiple: true %>
      <%= f.datetime_select :available_datetimes %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit %>

  <% end %>
  </fieldset>
</div>
 
