<p id="notice"><%= notice %></p>

<table class="table">
<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Types:</strong>
  <%= @pet.types %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @pet.gender %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Available datetimes:</strong>
  <%= @pet.available_datetimes %>
</p>

<p>
  <strong>Photos:</strong>
  <% @pet.photos.each do |photo| %>
  <%= image_tag photo.thumb, class: "img-response" %>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @pet.user %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
