
<div class="form_container">
  <div class="profile">
    <div class="profile-userpic" align="center">
      <%= image_tag @user.photo.thumb %>
    </div>
    <div class="profile-usertitle">
      <h4><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h4>
    </div>

    <div class="profile-usermenu">
      <ul class="nav">
        <li class="active">
          <a>
          <i class="glyphicon glyphicon-home"></i>
          Overview </a>
        </li>
        <li>
          <a href="#">
          <i class="glyphicon glyphicon-user"></i>
          Account Settings </a>
        </li>
        <li>
          <a href="#" target="_blank">
          <i class="glyphicon glyphicon-ok"></i>
          Pets </a>
        </li>
        <li>
          <a href="#">
          <i class="glyphicon glyphicon-flag"></i>
          Help </a>
        </li>
      </ul>
    </div>

  </div>
</div>

<% request = Match.where(owner_id: current_user.id) %>
<% if request %>
  <% request.each do |r| %>
  <% if r.match == nil %>
    <% borrower = User.find(r.borrower_id) %>
      <div class="col-lg-6 col-md-6 col-xs-6 thumb">
        <div class="request">
          <strong>NOTICE!</strong>
          <p><%= borrower.first_name.capitalize %> requested to book your pet.</p>
          <p>Please contact him/her through <%= borrower.phone_number %>/<%= borrower.email %></p>
        </div>
        <div class="">
          <%= button_to("Approve", { action: "approve_booking", match_id: r.id }, method: "post") %>
          <%= button_to("Reject", { action: "reject_booking", match_id: r.id }, method: "post") %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
