
<div class="form_container">

  <div class="profile">
    <div class="profile-userpic" align="center">
      <%= image_tag @user.photo.thumb %>
    </div>
    <div class="profile-usertitle">
      <h4><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h4>
    </div>

    <div class="profile-usermenu">
      <ul class="nav">
        <li class="active">
          <a>
          <i class="glyphicon glyphicon-home"></i>
          Overview </a>
        </li>
        <li>
          <a href="#">
          <i class="glyphicon glyphicon-user"></i>
          Account Settings </a>
        </li>
        <li>
          <a href="#" target="_blank">
          <i class="glyphicon glyphicon-ok"></i>
          Pets </a>
        </li>
        <li>
          <a href="#">
          <i class="glyphicon glyphicon-flag"></i>
          Help </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="nearby_map">
    <h3><strong>Nearby Pets</strong></h3>
    <%= image_tag ("/assets/mappp.jpg") %>
  </div>

  <div class="notification_section">
    <% request = Match.where("owner_id = ?", current_user.id) %>
    <% if request.count > 0 %>
      <h3>Request Notifications:</h3>
      <% request.each do |r| %>
      <% if r.match == nil %>
        <% borrower = User.find(r.borrower_id) %>
          <div class="notification">
            <p>Date: <%= r.created_at.to_date %></p>
            <p>From <%= borrower.first_name.capitalize %> <%= borrower.last_name.capitalize %>.</p>
            <p>Contacts: <%= borrower.phone_number %> | <%= borrower.email %></p>
              <%= link_to "<i class=\"myButton2\">Approve</i>".html_safe, { action: "approve_booking", match_id: r.id }, method: "post" %>
              <%= link_to "<i class=\"myButton2\">Reject</i>".html_safe, { action: "reject_booking", match_id: r.id }, method: "post" %>
          </div>
          <br>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
