
<div class="col-lg-6 col-md-6 col-xs-6 thumb">
  <div class="profile">
    <div class="profile-userpic" align="center">
      <%= image_tag @user.photo.thumb %>
    </div>
    <div class="profile-usertitle">
      <h4><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h4>
    </div>

    <div class="profile-usermenu">
      <ul class="nav">
        <li class="active">
          <a>
          <i class="glyphicon glyphicon-home"></i>
          Overview </a>
        </li>
        <li>
          <a href="#">
          <i class="glyphicon glyphicon-user"></i>
          Account Settings </a>
        </li>
        <li>
          <a href="#" target="_blank">
          <i class="glyphicon glyphicon-ok"></i>
          Pets </a>
        </li>
        <li>
          <a href="#">
          <i class="glyphicon glyphicon-flag"></i>
          Help </a>
        </li>
      </ul>
    </div>

  </div>
</div>

<% request = Match.find_by(owner_id: current_user.id) %>
<% if request %>
  <% borrower = User.find(request.borrower_id) %>
  <div class="col-lg-6 col-md-6 col-xs-6 thumb">
    <div class="request">
      <strong>NOTICE!</strong>
      <p><%= borrower.first_name.capitalize %> requested to book your pet.</p>
      <p>Please contact him/her through <%= borrower.phone_number %>/<%= borrower.email %></p>
    </div>
    <div class="">
      <%= button_to("Noted", { action: "noted", controller: "pets", match_id: request.id }, method: "delete") %>
    </div>
  </div>
<% end %>
