<!DOCTYPE html>
<html>
  <head>
    <title>Petsplay</title>
    <%= csrf_meta_tags %>
    <link href='//fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2I6Bspl_S5ebnK61Eu5ChEhbnZZGw1TY

content_copy
&callback=initMap"
                                           async defer></script>

  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Pets Play</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/pets">Pets</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right"><li>
            <%= link_to '/users/sign_out', method: "delete", class: 'glyphicon glyphicon-log-in' do %>
              <span id="span">Sign Out</span>
            <% end %>
          </li></ul>
          <ul class="nav navbar-nav navbar-right"><li>
            <%= link_to '/profile', class: 'glyphicon glyphicon-log-in' do %>
              <span id="span">Profile</span>
            <% end %>
          </li></ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/sign_up"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        <% end %>
    </div>
  </nav>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <footer>
    <hr>
    <div class="col-lg-12" id="footer">
        <p>Copyright &copy; Pets Play 2017</p>
    </div>
  </footer>

  </body>
</html>
