<!DOCTYPE html>
<html>
  <head>
    <title>Petsplay</title>
    <%= csrf_meta_tags %>
    <link href='//fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2I6Bspl_S5ebnK61Eu5ChEhbnZZGw1TY

content_copy
&callback=initMap"
                                           async defer></script>

  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- <a class="navbar-brand" href="/">Pets Play Love</a> -->
          <a href="/">
            <%= image_tag 'logo.jpg', border: 0, alt: "petsplaylovelogo", width: 100, height: 100 %>

          </a>
        </div>
        <div class="top-bar">
          <ul class="nav navbar-nav left-top-bar">
            <li><a href="/pets">Pets</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>

        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right left-top-bar"><li>
            <%= link_to '/users/sign_out', method: "delete" do %>
              <span class="myButton"> Sign Out</span>
            <% end %>
          </li></ul>
          <ul class="nav navbar-nav"><li>
            <%= link_to '/profile' do %>
              <span id="span">Profile</span>
            <% end %>
          </li></ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right left-top-bar">
            <li><a href="/users/sign_up"><span class="myButton"> Sign Up</span></a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right left-top-bar">
            <li><a href="/users/sign_in"><span class="myButton"> Login</span></a></li>
          </ul>
        <% end %>
    </div>
  </nav>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="container-fluid">
    <%= yield %>
  </div>

  </body>
</html>
