
<div class="container" id="form_container">

  <%= bootstrap_form_for(@user, url: user_registration_path, html: { method: :put, multipart: true }) do |f| %>
    <%= devise_error_messages! %>
    <fieldset>
    <legend>Update Profile!</legend>
      <%= f.text_field :first_name, icon: "user" %>
      <%= f.text_field :last_name, icon: "user" %>
      <%= f.text_field :phone_number, icon: "earphone" %>
      <%= f.text_field :address, icon: "home" %>
      <%= f.text_field :postcode, icon: "home" %>
      <%= f.text_field :city, icon: "home" %>
      <%= f.select :state, ["Johor", "Kedah", "Kelantan", "Melacca", "Negeri Sembilan", "Penang", "Perak", "Perlis", "Selangor", "Terrenganu"], { label: "Choose your state:" }, { class: "selectpicker" } %>
      <%= f.label :photo do %><br />
        <%= f.file_field :photo %>
        <%= f.hidden_field :photo_cache %>
      <% end %>
      <%= f.email_field :email, autofocus: true, icon: "envelope" %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

      <%= f.password_field :password, autocomplete: "off", icon: "option-horizontal" %>
      <i>(leave blank if you don't want to change it)</i>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
        <br /><br />
      <% end %>
      <%= f.password_field :password_confirmation, autocomplete: "off", icon: "option-horizontal" %>
      <%= f.password_field :current_password, autocomplete: "off", icon: "option-horizontal" %>
      <i>(we need your current password to confirm your changes)</i>
      <br /><br />

      <%= f.submit "Update" %>
  <% end %>

  <h3>Delete Account</h3>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

    </fieldset>
</div>
