
<div class="container" id="form_container">
  <fieldset>
  <legend>Sign Up</legend>

  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
      <%= f.email_field :email, autofocus: true, icon: "envelope" %>
      <%= f.password_field :password, autocomplete: "off", icon: "option-horizontal" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", icon: "option-horizontal" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br /><br />
      <%= f.submit "Sign up" %>
  <% end %>

  <br />
  <%= render "users/shared/links" %>

  </fieldset>
</div>
